.search-wrapper {
  width: 85%;
  display: flex;
  justify-content: flex-start;
}

.home-container {
  padding-bottom: 20px;
}

.patient-options {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-end;
  width: 90.7%;
  bottom: 40.5%;
}

.patient-button {
  background-color: #1e90ff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s ease;
}

.align {
  display: flex;
  align-items: center;
  margin: 0 55px;
}

.patient-button:hover {
  background-color: #00008b;
}
.patient-list {
  display: flex;
  flex-direction: column;
  margin-left: 22px;
  margin-bottom: 10px;
}

@media (min-width: 360px) and (max-width: 414px) {
  .patient-list {
    margin-top: 10px;
    margin-left: 0px;
  }
  .search-wrapper {
    width: 100%;
    display: flex;
  }

  .patient-options {
    flex-direction: column;
    display: flex;
    margin-top: 10px;
    align-items: start;
    width: 90%;
  }

  .align {
    flex-direction: column;
    align-items: start;
    width: 70%;
    margin: 1px 16px 16px;
  }
}
@media (min-width: 415px) and (max-width: 540px) {
  .search-wrapper {
    width: 100%;
    display: flex;
  }

  .patient-options {
    flex-direction: column;
    display: flex;
    margin-top: 10px;
    align-items: start;
    width: 275px;
  }

  .align {
    flex-direction: column;
    align-items: start;
    width: 80%;
    margin: 1px 16px 16px;
  }
  .patient-list {
    margin-top: 10px;
    margin-left: 0px;
  }
  .patient-button {
    width: 65%;
  }
}
@media (min-width: 541px) and (max-width: 600px) {
  .search-wrapper {
    width: 100%;
    display: flex;
  }

  .patient-options {
    flex-direction: column;
    display: flex;
    margin-top: 10px;
    align-items: start;
    width: 275px;
  }

  .align {
    flex-direction: column;
    align-items: start;
    width: 80%;
    margin: 1px 16px 16px;
  }
  .patient-button {
    width: 65%;
  }
  .patient-list {
    margin-top: 10px;
    margin-left: 0px;
  }
}
@media (min-width: 820px) and (max-width: 920px) {
  .search-wrapper {
    width: 100%;
    display: flex;
  }
  .patient-list {
    margin-top: 10px;
    margin-left: 0px;
  }

  .patient-options {
    flex-direction: column;
    display: flex;
    margin-top: 10px;
    align-items: start;
    width: 275px;
  }

  .align {
    flex-direction: column;
    align-items: start;
    width: 80%;
    margin: 1px 16px 16px;
  }
  .patient-button {
    width: 65%;
  }
}
@media (min-width: 601px) and (max-width: 768px) {
  .search-wrapper {
    width: 100%;
    display: flex;
  }

  .patient-options {
    flex-direction: column;
    display: flex;
    margin-top: 10px;
    align-items: start;
    width: 275px;
  }

  .align {
    flex-direction: column;
    align-items: start;
    width: 80%;
    margin: 1px 16px 16px;
  }
  .patient-button {
    width: 65%;
  }
}
@media (min-width: 769px) and (max-width: 819px) {
  .search-wrapper {
    width: 100%;
    display: flex;
  }
  .patient-list {
    margin-top: 10px;
    margin-left: 0px;
  }

  .patient-options {
    flex-direction: column;
    display: flex;
    margin-top: 10px;
    align-items: start;
    width: 275px;
  }

  .align {
    flex-direction: column;
    align-items: start;
    width: 80%;
    margin: 1px 16px 16px;
  }
  .patient-button {
    width: 65%;
  }
}
@media (min-width: 921px) and (max-width: 1024px) {
  .search-wrapper {
    width: 100%;
    display: flex;
  }
  .patient-list {
    margin-top: 10px;
    margin-left: 0px;
  }

  .patient-options {
    flex-direction: column;
    display: flex;
    margin-top: 10px;
    align-items: start;
    width: 275px;
  }

  .align {
    flex-direction: column;
    align-items: start;
    width: 80%;
    margin: 1px 16px 16px;
  }
  .patient-button {
    width: 65%;
  }
}
