 .search-wrapper {
   width: 90%;
   display: flex;
   justify-content: flex-start;
   margin-top: 20px;
   margin-left: 55px;

 }

 .home-container {
   padding-bottom: 20px;
 }
 .patient-options {
   position: absolute;
   display: flex;
   flex-direction: row;
   gap: 10px;
   justify-content: flex-end;
   width: 90.7%;
   bottom: 40.5%;
 }
 .patient-button {
   background-color: #1e90ff;
   color: white;
   border: none;
   padding: 10px 20px;
   border-radius: 5px;
   font-size: 1rem;
   cursor: pointer;
   transition: background-color 0.3s ease;
 }

 .patient-button:hover {
   background-color: #00008b;
 }