.category-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  margin-top: 30px;
  width: 100%;
}

.category-section {
  width: 80%; /* Controla a largura de cada seção */
  border: 1px solid #00008b;
  padding: 15px;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
}

.category-container h2 {
  margin-top: 30px;
  font-family: Arial, sans-serif;
  font-size: 2rem;
  color: #00008b;
  font-weight: bold;
}

.buttons-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap; /* Permite que os botões se ajustem */
}

.category-button {
  background-color: #1e90ff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  width: 200px;
  transition: background-color 0.3s ease;
}

.category-button:hover {
  background-color: #00008b;
  transform: scale(1.1);
  transition: all 0.5s;
}
