.header-container {
  position: relative; /* Define o contexto de posicionamento */
  width: 100%;
  height: 480px; /* Altura total do SVG */
  overflow: hidden;
}

.highlight {
  font-weight: bold;
  color: #0056b3;
}

.wave-text {
  position: absolute;
  left: 60px; /* Ajusta a distância do lado esquerdo */
  bottom: 3em; /* Posiciona o texto em cima da parte inferior da onda */
  color: #1e90ff;
  font-family: Arial, sans-serif;
  font-size: 40px;
  text-align: left;
}
@media (min-width: 300px) and (max-width: 360px) {
  .wave-text {
    position: absolute;
    color: #1e90ff;
    font-family: Arial, sans-serif;
    font-size: 20px;
    left: 18px;
    bottom: 5%;
  }
  .header-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}

@media (min-width: 361px) and (max-width: 414px) {
  .wave-text {
    position: absolute;
    color: #1e90ff;
    font-family: Arial, sans-serif;
    font-size: 20px;
    left: 18px;
    bottom: 11%;
  }
  .header-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}
@media (min-width: 415px) and (max-width: 460px) {
  .wave-text {
    position: absolute;
    color: #1e90ff;
    font-family: Arial, sans-serif;
    font-size: 22px;
    left: 18px;
    bottom: 10%;
    margin-top: 50px;
  }
  .header-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}
@media (min-width: 461px) and (max-width: 499px) {
  .wave-text {
    position: absolute;
    color: #1e90ff;
    font-family: Arial, sans-serif;
    font-size: 24px;
    left: 18px;
    bottom: 10%;
    margin-top: 50px;
  }
  .header-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}
@media (min-width: 500px) and (max-width: 540px) {
  .wave-text {
    position: absolute;
    color: #1e90ff;
    font-family: Arial, sans-serif;
    font-size: 24px;
    left: 18px;
    bottom: 10%;
    margin-top: 50px;
  }
  .header-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}
@media (min-width: 820px) and (max-width: 920px) {
  .wave-text {
    position: absolute;
    color: #1e90ff;
    font-family: Arial, sans-serif;
    font-size: 32px;
    left: 18px;
    bottom: 12%;
  }
  .header-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}
@media (min-width: 541px) and (max-width: 600px) {
  .wave-text {
    position: absolute;
    color: #1e90ff;
    font-family: Arial, sans-serif;
    font-size: 24px;
    left: 18px;
    bottom: 12%;
    margin-top: 50px;
  }
  .header-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}
@media (min-width: 601px) and (max-width: 768px) {
  .wave-text {
    position: absolute;
    color: #1e90ff;
    font-family: Arial, sans-serif;
    font-size: 24px;
    left: 18px;
    bottom: 17%;
    margin-top: 30px;
  }
  .header-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}
@media (min-width: 769px) and (max-width: 921px) {
  .wave-text {
    position: absolute;
    color: #1e90ff;
    font-family: Arial, sans-serif;
    font-size: 30px;
    left: 18px;
    bottom: 10%;
  }
  .header-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}
@media (min-width: 921px) and (max-width: 1024px) {
  .wave-text {
    position: absolute;
    color: #1e90ff;
    font-family: Arial, sans-serif;
    font-size: 32px;
    left: 18px;
    bottom: 15%;
  }
  .header-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}
@media (min-width: 1025px) and (max-width: 1125px) {
  .wave-text {
    position: absolute;
    color: #1e90ff;
    font-family: Arial, sans-serif;
    font-size: 32px;
    left: 18px;
    bottom: 15%;
  }
  .header-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}
@media (min-width: 1126px) and (max-width: 1226px) {
  .wave-text {
    position: absolute;
    color: #1e90ff;
    font-family: Arial, sans-serif;
    font-size: 32px;
    left: 18px;
    bottom: 15%;
  }
  .header-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}
@media (min-width: 1227px) and (max-width: 1327px) {
  .wave-text {
    position: absolute;
    color: #1e90ff;
    font-family: Arial, sans-serif;
    font-size: 32px;
    left: 18px;
    bottom: 15%;
  }
  .header-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}
@media (min-width: 1328px) and (max-width: 1428px) {
  .wave-text {
    position: absolute;
    color: #1e90ff;
    font-family: Arial, sans-serif;
    font-size: 32px;
    left: 18px;
    bottom: 15%;
  }
  .header-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}
@media (min-width: 1429px) and (max-width: 1529px) {
  .wave-text {
    position: absolute;
    color: #1e90ff;
    font-family: Arial, sans-serif;
    font-size: 32px;
    left: 18px;
    bottom: 15%;
  }
  .header-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}
@media (min-width: 1530px) and (max-width: 1630px) {
  .wave-text {
    position: absolute;
    color: #1e90ff;
    font-family: Arial, sans-serif;
    font-size: 32px;
    left: 18px;
    bottom: 15%;
  }
  .header-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}
@media (min-width: 1631px) and (max-width: 1731px) {
  .wave-text {
    position: absolute;
    color: #1e90ff;
    font-family: Arial, sans-serif;
    font-size: 32px;
    left: 18px;
    bottom: 15%;
  }
  .header-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}